@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
    
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    /* height: 100%; */
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* overflow-x: hidden; */
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
.section-test{
	height: 100vh;
	overflow: hidden;
	display: grid;
	display: flex;
	align-content: center;
	left: 0;

}
.principles-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
}

.principles-list {
	height: 100vh;
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
}
.section1{
	background-color: red;
}
.section2{
	background-color: green;
}
.section3{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3000px;
	background-color: palegoldenrod;
}
.custom-p{
	/* left: 0;
	display: flex;
	justify-content: space-between; */
	width: 3000px;
	height: 200px;
	/* background-color: #55D6BE; */
	/* opacity: 0; */
	/* transition: opacity 6s; */
	/* transform: translateX(0%); */
}
.scroll-class{

	/* opacity: 1; */
}
.custom-p-num{
	width: 1000px;
	height: 200px;
}
.custom-p1{
	background-color: fuchsia;
}
.custom-p2{
	background-color: orange;
}
.custom-p3{
	background-color: blue;
}
 
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueCyr-Roman.woff2");
  }